* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.token.comment {
    color: #8a9c36;
}

.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a737d;
}

.token.punctuation {
    color: #cecece;
}

.token.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #8cdcfe;
}

.token.boolean,
.token.number {
    color: #94cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.string a {
    color: #cd834a;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #b3b3b3;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #c678dd;
}

.token.function {
    color: #d0a342;
}

.token.regex,
.token.important,
.token.variable {
    color: #1e38a0;
}
